<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">DostavaApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
           
        
           
              <a  *ngIf="userInfo?.type==='admin'" routerLink="/" class="nav-link">Home</a>
                <a  *ngIf="userInfo?.type==='admin'" routerLink="home/verifikacija" class="nav-link">Verifikacija</a>
                <a  *ngIf="userInfo?.type==='admin'" routerLink="home/svePorudzbine" class="nav-link">Sve porudzbine</a>
                <a  *ngIf="userInfo?.type==='admin'" routerLink="home/dodajProizvod" class="nav-link">Dodavanje proizvoda</a>
                <a  *ngIf="userInfo?.type==='admin'" routerLink="/home/profile" class="nav-link -auto">Profil</a>   
                <a  *ngIf="userInfo?.type==='admin'" class="nav-link" (click)="logout()">Logout</a>

          
            
          
                <a *ngIf="userInfo?.type==='dostavljac'" routerLink="/" class="nav-link">Home</a>
                <a *ngIf="userInfo?.type==='dostavljac'" routerLink="home/novePorudzbine" class="nav-link">Nove porudzbine</a>
                <a *ngIf="userInfo?.type==='dostavljac'" routerLink="home/mojePorudzbine" class="nav-link">Moje porudzbine</a>
                <a *ngIf="userInfo?.type==='dostavljac'" routerLink="/home/trenutnaPorudzbina" class="nav-link">Trenutna porudzbina</a>
                <a *ngIf="userInfo?.type==='dostavljac'" routerLink="/home/profile" class="nav-link -auto">Profil</a>   
                <a *ngIf="userInfo?.type==='dostavljac'" class="nav-link" (click)="logout()">Logout</a>
            
      
            <a *ngIf="userInfo?.type==='potrosac'" routerLink="/" class="nav-link">Home</a>
            <a *ngIf="userInfo?.type==='potrosac'" routerLink="home/novaPorudzbina" class="nav-link">Nova/Trenutna</a>
            <a *ngIf="userInfo?.type==='potrosac'" routerLink="home/mojePorudzbine" class="nav-link">Prethodne porudzbine</a>
            <a *ngIf="userInfo?.type==='potrosac'" routerLink="/home/profile" class="nav-link -auto">Profil</a>   
            <a *ngIf="userInfo?.type==='potrosac'" class="nav-link" (click)="logout()">Logout</a>
       
    
      </div>
    </div>
  </nav>
