<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DostavaApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
           
        
            <span name="ime" *ngIf="userInfo?.type==='admin'">
              <a routerLink="/" class="nav-link">Home</a>
                <a routerLink="home/verifikacija" class="nav-link">Verifikacija</a>
                <a routerLink="home/svePorudzbine" class="nav-link">Sve porudzbine</a>
                <a routerLink="home/dodajProizvod" class="nav-link">Dodavanje proizvoda</a>
                <a routerLink="/home/profile" class="nav-link -auto">Profil</a>   
                <a class="nav-link" (click)="logout()">Logout</a>

            </span>
            
            <span *ngIf="userInfo?.type==='dostavljac'">
              <a routerLink="/" class="nav-link">Home</a>
                <a routerLink="home/novePorudzbine" class="nav-link">Nove porudzbine</a>
                <a class="nav-link">Moje porudzbine</a>
                <a class="nav-link">Trenutna porudzbina</a>
                <a routerLink="/home/profile" class="nav-link -auto">Profil</a>   
                <a class="nav-link" (click)="logout()">Logout</a>
            </span>
        <span *ngIf="userInfo?.type==='potrosac'">
          <a routerLink="/" class="nav-link">Home</a>
            <a routerLink="home/novaPorudzbina" class="nav-link">Nova/Trenutna</a>
            <a class="nav-link">Prethodne porudzbine</a>
            <a routerLink="/home/profile" class="nav-link -auto">Profil</a>   
            <a class="nav-link" (click)="logout()">Logout</a>
        </span>
    
      </div>
    </div>
  </nav>
