
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">idDostave</th>     
        <th scope="col">Adresa</th>
        <th scope="col">Status</th>

        <th scope="col">komentar</th>
        <th scope="col">Detalji</th>
        <th scope="col">Ukupno</th>
      </tr>
    </thead>
    
    <tbody>
      <ng-container *ngFor="let porudzbina of porudzbinas;index as i;">

     
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{porudzbina.idDostave}}</td>

        <td>{{porudzbina.adresa}}</td>
        <td *ngIf="porudzbina.stanje===0">Ceka na Dostavljaca</td>
        <td *ngIf="porudzbina.stanje===1">Dostava u toku</td>
        <td *ngIf="porudzbina.stanje===2">Dostavljena</td>
        <td >
            <div *ngFor="let proizvod of porudzbina.proizvods">{{proizvod.ime}} - {{proizvod.kolicina}} * {{proizvod.cena}} ={{proizvod.kolicina*proizvod.cena}} </div>   
        </td>
        <td>{{porudzbina.komentar}}</td>
        
        
         <!-- Modal -->
  
         <td>{{porudzbina.cena}}</td>


        
      </tr>
    </ng-container>
    </tbody>
  </table>

  

 



