
<!--


<form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div id="content">
        <label>Ime proizvoda</label>
        <input formControlName="ime" required type="text">
        <label >Cena proizvoda</label>
        <input formControlName="cena" required type="number">

    </div>
-->
    <div style="justify-content: center;">

    
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="input-field">
          <input matInput type="text" name="ime"
             placeholder="ImeProizovda" formControlName="ime">
      </div>
      <div class="input-field">
          <input min="0" matInput type="number"
             placeholder="Cena" formControlName="cena">
      </div>
      <div *ngFor="let control of  rolesFieldAsFormArray.controls ;let i = index;" formArrayName='sastojaks' >
          <div [formGroupName]="i" >
              <div  class="input-field" >
              <input matInput type="text"
                  placeholder="Sastojak" formControlName="nazivSastojka" >
              </div>
              <button class="button btn-danger" type="button" (click)="remove(i)" >Remove</button>
          </div>
      </div>
      <button type="button"  class="btn btn-warning" (click)="addControl()" > Dodaj Jos Sastojaka</button> <br>
    <button class="btn btn-warning" (click)="formValue()" type="submit" [disabled]="form.invalid">
      Submit
    </button>
   
  </form>
</div>
 

  <!--

  
    <button type="button" (click)="addSastojak()">Dodaj Sastojak</button>
    <button class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  </form>
  
  form - {{form.value | json}}-->


